body{
    background-color: paleturquoise;
}

.wrapper{
    display: grid;
    text-align: center;
}

.MainTitle{
    background-color: darkturquoise;
}

.Sub_Title{
    background-color: darkturquoise;
    display: grid;
}

.Account_Type_Main{
    background-color: darkturquoise;

}
.Account_Type_Term{
    background-color: darkturquoise;

}
.SpecificAccountTypeDiv{
    background-color: darkturquoise;

}
