body{
    background-color: wheat;
}

.Main_Wrapper {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
}
.At_A_Glance_Balances{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.Values_Table{
    align-content: center;
}

.Asset{
    background: aqua;
}

.Liability{
    background: indianred;
}

