{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <script src="../static/AddAccount.js"></script>
{% endblock %}
{% block content %}
    {{ super() }}


    <!-- Page content-->
    <div class="row">
    <div class="col-3"></div>
        <div class="col-6 p-3 mb-2 bg-dark text-white text-center">

            <h1 class="Main_Title">Add An Account</h1>
            <h3 class='Sub_Title'>What type of account would you like to add?</h3>
        </div>

        <div class="col-3"></div>

    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 p-3 mb-2 bg-primary text-white text-center">

            <label for="New Account Name">New Account Name:</label>
            <input type="text" name="account_Name" id="New Account Name" autocomplete="off">
            <br>
            <br>
            <label for="New Account Balance">New Account Balance:</label>
            <input type="number" step="0.01" name="account_Balance" id="New Account Balance" autocomplete="off">
            <br>
            <br>
            <label for="New Account Type">What is the Account Type?:</label>
            <select name="account_Type" id="New Account Type">
                <option name="Account type" value="Current Asset">Current Asset</option>
                <option name="Account type" value="NonCurrent Asset">NonCurrent Asset</option>
                <option name="Account type" value="Current Liability">Current Liability</option>
                <option name="Account type" value="NonCurrent Liability">NonCurrent Liability</option>
            </select>
            <br>
            <br>

            <button onclick="prep_Account()">Record Information</button>


            <div class="col-4"></div>


        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">

        <form action="{{ url_for('add_Account_To_Database') }}" method="POST">


            <div class="results_div mt-3" id="Results Card" style="visibility:hidden ">
                <!--Assets-->
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4 p-3 mb-2 bg-success text-white">
                        <div class="form-group">
                            <label for="Data Area">Accounts To Be Uploaded</label>
                            <textarea class="form-control" id="Data Area" rows="3"
                                      name="Upload List"></textarea>
                        </div>


                        <input type="submit" name="submit_button" value="Add New Account">
                    </div>
                    <div class="col-4"></div>

                </div>


            </div>


        </form>
    </div>




{% endblock %}

