{% extends "layout.html" %}
{% block head %}
    {{ super() }}
     <script src="../static/main.js"></script>
{% endblock %}
{% block content %}
    {{ super() }}


    <!-- Page content-->
    <div class="row">
        <div class="chart-container" align="center">
            <div class="col-lg-5">
                <canvas id="equityChart" style="border:1px solid"></canvas>
                <script>
                    make_Chart('equityChart',
                        {{ heads|tojson }},
                        {{ data["Equity"]|tojson }},
                        "Equity")
                </script>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <style>
                table {
                    text-align: center;
                }
                table thead th {
                    text-align: center;
                }
            </style>

            {% include "Account_Balances_Table.html" %}
        </div>
        <div class="col-6">
            {% include "Account_Percentages_Table.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-4">

            <div class="chart-container">
                <div class="col-lg-auto">
                    <canvas id="currentAssetChart" style="border:1px solid"></canvas>
                    <script>
                        make_Chart('currentAssetChart',
                            {{ heads|tojson }},
                            {{ data["Current Assets"]|tojson }},
                            "Current Assets")
                    </script>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="chart-container">
                <div class="col-lg-auto">
                    <canvas id="currentLiabilityChart" style="border:1px solid"></canvas>
                    <script>
                        make_Chart('currentLiabilityChart',
                            {{ heads|tojson }},
                            {{ data["Current Liabilities"]|tojson }},
                            "Current Liabilities")
                    </script>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="chart-container">
                <div class="col-lg-auto">
                    <canvas id="nonCurrentLiabilitiesChart" style="border:1px solid"></canvas>
                    <script>
                        make_Chart('nonCurrentLiabilitiesChart',
                            {{ heads|tojson }},
                            {{ data["NonCurrent Liabilities"]|tojson }},
                            "NonCurrent Liabilities")
                    </script>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-3">
        </div>

        <div class="col-6">
            <div class="chart-container">
                <div class="col-lg-auto">
                    <canvas id="nonCurrentAssetschart" style="border:1px solid">

                    </canvas>
                    <script>
                        make_Chart('nonCurrentAssetschart',
                            {{ heads|tojson }},
                            {{ data["NonCurrent Assets"]|tojson }},
                        "NonCurrent Assets")
                    </script>
                </div>
            </div>
        </div>

        <div class="col-3">
        </div>


    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {% include 'Balance_Sheet.html' %}
        </div>
        <div class="col-4"></div>
    </div>

    <script type='text/javascript'>
  window.onload = function() {
    const thead = document.querySelectorAll('.table > thead');
    thead.forEach(e => e.classList.add('thead-dark'));
  }
</script>

{% endblock %}