{% extends "layout.html" %}
{% block head %}
    {{ super() }}
     <script src="../static/main.js"></script>
{% endblock %}
{% block content %}
    {{ super() }}


    <!-- Page content-->
    <div class="row">
        <div class="chart-container" align="center">
            <div class="col-lg-5">
                <canvas id="equityChart" style="border:1px solid"></canvas>
                <script>
                        make_Chart('equityChart',
                            {{ heads|tojson }},
                            {{ data["Equity"]|tojson }},
                        "Equity")
                </script>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Account Type</th>
                    <th scope="col">EOY Balances</th>
                    <th scope="col">EOQ Balances</th>
                    <th scope="col">Current Balances</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Current Assets</th>
                    <td>$813.08</td>
                    <td>$1,386.07</td>
                    <td>$1412.61</td>
                </tr>
                <tr>
                    <th scope="row">NonCurrent Assets</th>
                    <td>$22,619.05</td>
                    <td>$27,919.84</td>
                    <td>$31,094.17</td>
                </tr>
                <tr>
                    <th scope="row">Total Assets</th>
                    <td>$24,918.12</td>
                    <td>$29,305.91</td>
                    <td>$32,506.78</td>
                </tr>
                <tr>
                    <th scope="row">Current Liabilities</th>
                    <td>$1,497.52</td>
                    <td>$188.68</td>
                    <td>$224.28</td>
                </tr>
                <tr>
                    <th scope="row">NonCurrent Liabilities</th>
                    <td>$0.00</td>
                    <td>$0.00</td>
                    <td>$0.00</td>
                </tr>
                <tr>
                    <th scope="row">Total Liabilities</th>
                    <td>$1,497.52</td>
                    <td>$188.68</td>
                    <td>$224.28</td>
                </tr>

                <tr>
                    <th scope="row">Equity</th>
                    <td>$12,420.60</td>
                    <td>$29,117.23</td>
                    <td>$32,282.50</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">YTD $ Change</th>
                    <th scope="col">YTD % Change</th>
                    <th scope="col">QTD $ Change</th>
                    <th scope="col">QTD % Change</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>$599.53</td>
                    <td>73.74%</td>
                    <td>$26.54</td>
                    <td>1.91%</td>
                </tr>
                <tr>
                    <td>$8,475.12</td>
                    <td>37.47%</td>
                    <td>$3,174.33</td>
                    <td>11.37%</td>
                </tr>
                <tr>
                    <td>$7,588.66</td>
                    <td>30.45%</td>
                    <td>$3,200.87</td>
                    <td>10.92%</td>
                </tr>
                <tr>
                    <td>$(1,273.24)</td>
                    <td>-85.02%</td>
                    <td>$35.60</td>
                    <td>18.87%</td>
                </tr>
                <tr>
                    <td>$0.00</td>
                    <td>0%</td>
                    <td>$0.00</td>
                    <td>0%</td>
                </tr>
                <tr>
                    <td>$(1,273.24)</td>
                    <td>-85.02%</td>
                    <td>$35.60</td>
                    <td>18.87%</td>
                </tr>

                <tr>
                    <td>$8,861.90</td>
                    <td>37.84%</td>
                    <td>$3,165.27</td>
                    <td>10.87%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-4">

            <div class="chart-container">
                <div class="col-lg-auto">
                    <canvas id="currentAssetChart" style="border:1px solid"></canvas>
                    <script>
                        make_Chart('currentAssetChart',
                            {{ heads|tojson }},
                            {{ data["Current Assets"]|tojson }},
                            "Current Assets")
                    </script>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="chart-container">
                <div class="col-lg-auto">
                    <canvas id="currentLiabilityChart" style="border:1px solid"></canvas>
                    <script>
                        make_Chart('currentLiabilityChart',
                            {{ heads|tojson }},
                            {{ data["Current Liabilities"]|tojson }},
                            "Current Liabilities")
                    </script>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="chart-container">
                <div class="col-lg-auto">
                    <canvas id="nonCurrentLiabilitiesChart" style="border:1px solid"></canvas>
                    <script>
                        make_Chart('nonCurrentLiabilitiesChart',
                            {{ heads|tojson }},
                            {{ data["NonCurrent Liabilities"]|tojson }},
                            "NonCurrent Liabilities")
                    </script>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-3">
        </div>

        <div class="col-6">
            <div class="chart-container">
                <div class="col-lg-auto">
                    <canvas id="nonCurrentAssetschart" style="border:1px solid">

                    </canvas>
                    <script>
                        make_Chart('nonCurrentAssetschart',
                            {{ heads|tojson }},
                            {{ data["NonCurrent Assets"]|tojson }},
                        "NonCurrent Assets")
                    </script>
                </div>
            </div>
        </div>

        <div class="col-3">
        </div>


    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {% include 'Balance_Sheet.html' %}
        </div>
        <div class="col-4"></div>
    </div>

    <script type='text/javascript'>
  window.onload = function() {
    const thead = document.querySelectorAll('.table > thead');
    thead.forEach(e => e.classList.add('thead-dark'));
  }
</script>

{% endblock %}