<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove an Account</title>

    <link rel="stylesheet" href="../static/RemoveAccount.css">
</head>
<body>
    <div class="wrapper">
        <h1 class="Main_Title">Remove An Account</h1>
        <form action="{{ url_for('remove_Account_From_Database') }}" method="POST">
        <h2>Current Assets</h2>
            {% for accounts in data.values %}
                {% if accounts[2] == "Current Asset" %}
                    <td><input type="checkbox" name="checkbox" value="{{ accounts[3] }}"></td>
                    {{ accounts[1] }} {{ accounts[2] }} {{ accounts[3] }} ${{ accounts[4] }}
                    <br>
                {% endif %}
            {% endfor %}

        <h2>NonCurrent Assets</h2>
            {% for accounts in data.values %}
                {% if accounts[2] == "NonCurrent Asset" %}
                    <input type="checkbox" name="checkbox" value="{{ accounts[3] }}"></td>
                    {{ accounts[1] }} {{ accounts[2] }} {{ accounts[3] }} ${{ accounts[4] }}
                    <br>
                {% endif %}
            {% endfor %}

        <h2>Current Liabilities</h2>
            {% for accounts in data.values %}
                {% if accounts[2] == "Current Liability" %}
                    <input type="checkbox" name="checkbox" value="{{ accounts[3] }}"></td>
                    {{ accounts[1] }} {{ accounts[2] }} {{ accounts[3] }} ${{ accounts[4] }}
                    <br>
                {% endif %}
            {% endfor %}

        <h2>NonCurrent Liabilities</h2>
            {% for accounts in data.values %}
                {% if accounts[2] == "NonCurrent Liability" %}
                    <input type="checkbox" name="checkbox" value="{{ accounts[3] }}"></td>
                    {{ accounts[1] }} {{ accounts[2] }} {{ accounts[3] }} ${{ accounts[4] }}
                    <br>
                {% endif %}
            {% endfor %}


            <button type="submit" name="submit_button" value="Remove Item">Remove Item</button>

            <input type="submit" name="submit_button" value="Go Back">
        </form>
    </div>
</body>
</html>