{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}


    <!-- Page content-->
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h1 class="Main_Title">Remove An Account</h1></div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <form action="{{ url_for('update_Accounts') }}" method="POST">
            <div class="row">
                <div class="col-6">
                    <h2>Current Assets</h2>
                    {% for accounts in data.values %}
                        {% if accounts[2] == "Current Asset" %}
                            <table style="width:75%">
                                <tr>
                                    <th>Date Last Updated</th>
                                    <th>Account Name</th>
                                    <th>Account Balance</th>
                                    <th>New Balance</th>
                                </tr>

                                <tr>
                                    <td>{{ accounts[1] }}</td>
                                    <td>{{ accounts[3] }}</td>
                                    <td>{{ accounts[4] }}</td>
                                    <th><input type="text" name="new_Balances" value="{{ accounts[4] }}"></th>
                                </tr>
                            </table>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="col-6">
                    <h2>NonCurrent Assets</h2>
                    {% for accounts in data.values %}
                        {% if accounts[2] == "NonCurrent Asset" %}
                            <table style="width:75%">
                                <tr>
                                    <th>Date Last Updated</th>
                                    <th>Account Name</th>
                                    <th>Account Balance</th>
                                    <th>New Balance</th>
                                </tr>

                                <tr>
                                    <td>{{ accounts[1] }}</td>
                                    <td>{{ accounts[3] }}</td>
                                    <td>{{ accounts[4] }}</td>
                                    <th><input type="text" name="new_Balances" value="{{ accounts[4] }}"></th>
                                </tr>
                            </table>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h2>Current Liabilities</h2>
                    {% for accounts in data.values %}
                        {% if accounts[2] == "Current Liability" %}
                            <table style="width:75%">

                                <tr>
                                    <td>{{ accounts[1] }}</td>
                                    <td>{{ accounts[3] }}</td>
                                    <td>{{ accounts[4] }}</td>
                                    <th><input type="text" name="new_Balances" value="{{ accounts[4] }}"></th>
                                </tr>
                            </table>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="col-6">
                    <h2>NonCurrent Liabilities</h2>
                    {% for accounts in data.values %}
                        {% if accounts[2] == "NonCurrent Liability" %}
                            <table style="width:75%">


                                <tr>
                                    <td>{{ accounts[1] }}</td>
                                    <td>{{ accounts[3] }}</td>
                                    <td>{{ accounts[4] }}</td>
                                    <th><input type="text" name="new_Balances" value="{{ accounts[4] }}"></th>
                                </tr>
                            </table>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <button type="submit" name="submit_button" value="Update Balances">Update Balances</button>
                    <input type="submit" name="submit_button" value="Go Back"></div>
            </div>
            <div class="col-4">


            </div>
        </form>
    </div>

{% endblock %}