<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Account Balances</title>
    <link rel="stylesheet" href="../static/ViewBalances.css">
</head>
<body>
    <div class="wrapper">
        <h1>View Balances</h1>
        <form action="{{ url_for('view_Balances') }}" method="POST">

            <div class="Balance_Sheet_Window">
                {% for primary_Account_Type in data: %}
                    {% if primary_Account_Type in ['Asset', 'Liability']: %}
                        <div class="{{primary_Account_Type}}">
                            <h1>{{primary_Account_Type}}:</h1>
                            {% for account_Term in data[primary_Account_Type]: %}
                                <div class="{{account_Term}}">
                                    <h2>{{account_Term}}</h2>
                                    {% for specific_Account_Type in data[primary_Account_Type][account_Term]: %}
                                        <div class="{{specific_Account_Type}}">
                                            {% for account, balance in data[primary_Account_Type][account_Term][specific_Account_Type].items(): %}
                                                {% if balance: %}
                                                    <div class="{{account}}">
                                                        <td>{{account}} $</td><td>{{balance}}</td>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="Button_Wrapper">
                <input type="submit" name="btn_Go_Back" value="Go Back">
            </div>
        </form>
    </div>

</body>
</html>